@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 700;
  src: local('Oswald Bold'), local('Oswald-Bold'), url(https://fonts.gstatic.com/s/oswald/v13/bH7276GfdCjMjApa_dkG6VtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: local('Oswald Regular'), local('Oswald-Regular'), url(https://fonts.gstatic.com/s/oswald/v13/pEobIV_lL25TKBpqVI_a2w.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Share Tech Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Share Tech Mono'), local('ShareTechMono-Regular'), url(https://fonts.gstatic.com/s/sharetechmono/v6/RQxK-3RA0Lnf3gnnnNrAsYdJ2JT0J65PSe7wdxAnx_I.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

html {
  font-size: 16px;
}

body {
  font-family: 'Share Tech Mono', monospace;
  background-color: #bababa;
}

.game-background {
  background-color: #2C1E15;
}

/*settings*/
.all-settings {
  background-color: #A18678;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100%;
  height: 5rem;
  z-index: 10;
}

.title {
  margin: .5rem;
  text-align: center;
  display: flex;
  align-items: center;
}

#simon-title {
  font-size: 1.5rem;
}

#simon-title {
  font-family: 'Oswald', sans-serif;
}

#simon-r-sign {
  font-family: 'Share Tech Mono', monospace;
}

.button-settings-display {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin: 1rem 0 0 0;
}

.count-section {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.count-display {
  text-align: center;
  background-color: #2C1E15;
  color: #6e3c2b;
  padding: .5rem 1rem;
  margin: 0 .5rem;
  width: 2rem;
  height: 1.5rem;
  font-size: 1rem;
}

.count-display-on {
  color: #d92626;
}

.count-display span {
  font-size: 1.5rem;
}

.strict-mode.button,
.start.button {
  background-color: #F79D0C;
  display: inline-block;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  margin: .5rem 0 0 0;
}



.start-section {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin: 0 0 0 1rem;
}

.strict-section {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin: 0 0 0 1rem;
}

.strict-light-off {
  width: .5rem;
  height: .5rem;
  border-radius: 50%;
  background-color: #2C1E15;
}

.strict-light-on {
  background-color: #d92626;
}

.turn-on-off {
  display: flex;
  margin: .5rem 0 0 0;
  justify-content: center;
  align-items: center;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 2.5rem;
  height: 1.5rem;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #353535;
  -webkit-transition: .1s;
  transition: .1s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1rem;
  width: 1rem;
  left: .25rem;
  bottom: .25rem;
  background-color: white;
  -webkit-transition: .1s;
  transition: .1s;
}

input:checked + .slider {
  background-color: #981b1b;
}

input:focus + .slider {
  box-shadow: 0 0 .4rem #981b1b;
}

input:checked + .slider:before {
  -webkit-transform: translateX(1rem);
  -ms-transform: translateX(1rem);
  transform: translateX(1rem);
}

/*all play area*/
.all-play-area {
  display: inline-block;
  width: 100%;
  margin: 5rem 0 0 0;
}

/*buttons*/
.all-buttons .button {
  display: inline-block;
  height: 20rem;
  width: 50%;
}

.buttons {
  display: flex;
}

.button-green-off {
  background-color: #4BB17C;
}

.button-green-off:active {
  background-color: #a6d9be;
}

.button-green-on {
  background-color: #a6d9be;
}

.button-red-off {
  background-color: #F83A30;
}

.button-red-off:active {
  background-color: #fcb9b5;
}

.button-red-on {
  background-color: #fcb9b5;
}

.button-yellow-off {
  background-color: #B47406;
}

.button-yellow-off:active {
  background-color:  #fabc52;
}

.button-yellow-on {
  background-color:  #fabc52;
}

.button-blue-off {
  background-color: #236369;
}

.button-blue-off:active {
  background-color: #40b5bf;
}

.button-blue-on {
  background-color: #40b5bf;
}

.credits {
  width: 100%;
  text-align: center;
  padding: 1rem 0;
  background-color: #006400;
  color: #dcdcdc;
}

.credits a:visited{
  color: #bababa;
}

/*Desktop styles*************************************/
@media only screen and (min-width: 768px) {
  .all-play-area {
    display: inline-block;
    width: 100%;
    margin: 0 0 0 0;
  }

  .game-background {
    max-width: 30rem;
    max-height: 30rem;
    border-radius: 50%;
    margin: 5rem auto 0 auto;
    border: 1.25rem solid #2C1E15;
    box-shadow: -1rem 1rem .5rem #888888;
  }

  .all-settings {
    background-color: #A18678;
    display: inline-block;
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top:12rem;
    z-index: 10;
    border: 1.5rem solid #2C1E15;
  }

  .title {
    margin: 2rem 0 0 0;
    justify-content: center;
  }

  #simon-title {
    font-size: 2.5rem;
  }

  .button-settings-display {
    margin: 1rem 0 0 0;
  }

  .count-display {
    padding: .5rem 1rem;
    margin: 0 1rem;
    width: 2.5rem;
    height: 1.5rem;
  }

  .strict-mode.button,
  .start.button {
    width: 1rem;
    height: 1rem;
    margin: .5rem 0 0 0;
  }

  .start-section {
    margin: 0 0 0 .5rem;
  }

  .strict-section {
    margin: 0 0 0 .5rem;
  }

  .turn-on-off {
    display: flex;
    margin: .5rem 0 0 0;
  }

  .all-buttons .button {
    display: inline-block;
    height: 13rem;
    width: 13rem;
    border: 1rem solid #2C1E15;
  }

  .button-red {
    border-radius: 0 100% 0 0;
  }

  .button-blue {
    border-radius: 0 0 100% 0;
  }

  .button-yellow {
    border-radius: 0 0 0 100%;
  }

  .button-green {
    border-radius: 100% 0 0 0;
  }

  .credits {
    margin: 20rem 0 0 0;
    padding: 3rem 0;
    background-color: #006400;
    color: #dcdcdc;
    font-size: 1.25rem
  }

  .credits a:visited{
    color: #bababa;
  }
}
